https://bitbucket.org/kds_consulting_team/keboola-python-util-lib/get/0.2.9.zip#egg=kbc
https://bitbucket.org/kds_consulting_team/kds-team.processor-csv-to-json/get/0.5.0.zip#egg=csv2json
nested-lookup